<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block scrypt %}

    {% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Geostar+Fill&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
 <div class="container-fluid">
        <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('show_table') }}">Planet list</a>
                </li>
                <li class="nav-item">
                    <a  id="voting"class="nav-link" href="#" data-target="#showResidents" data-toggle="modal">Voting statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('registration') }}">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("login") }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                <li class="nav-item " id="signed">
                    {% block username %}

                    {% endblock %}
                </li>
            </ul>
  {#    <nav class="animated fadeInDown">
         <a class="nav-link" href="{{ url_for('show_table') }}">Planet list</a>
        <a class="nav-link" href="#" data-target="#showResidents" data-toggle="modal">Voting statistics</a>
        <a class="nav-link" href="{{ url_for('registration') }}">Registration</a>
        <a class="nav-link" href="{{ url_for("login") }}">Login</a>
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
     </nav>#}
    </div>
{% block content %}

{% endblock %}
</body>
</html>